.Highlight-Banner-Container{
    background-color: black;
    width: 100%;
    max-width: 1000vh;
    height: fit-content;
    color: azure;
    margin-bottom: 3vh;
    padding-left: 300px;
    padding-right: 300px;
}

.Icon-SVG{
    height:5em;
    width:5em;
}

.Highlight-Banner-Background{
    width: 100%;
    background-color: black;
}