body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.catalog {
  display: flex;
  flex-direction: column; /* Arrange sections in a column */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling within catalog */
  scroll-snap-type: y mandatory; /* Snap to sections vertically */
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
}

.catalog::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}

.section {
  flex: none; /* Prevent section from growing or shrinking */
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  scroll-snap-align: start; /* Snap to start of section */
}