/* Vertical Navbar */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #8f8f8f;
  padding: 1rem;
  position: fixed;
  width: 10rem;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0.9;
  font-family: 'Roboto', serif;
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.navbar-logo {
  width: 3rem; 
  height: 3rem; 
  max-width: 100%; /* Ensure it doesn't overflow the navbar */
  margin-bottom: 1rem; /* Space below the logo */
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
  cursor: pointer;
}

.nav-toggle-label span {
  display: block;
  width: 25px;
  height: 3px;
  background: white;
  margin: 5px 0;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.nav-menu li {
  width: 100%;
  margin: 1rem 0;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 0;
  width: 100%;
  text-align: left;
}

.nav-menu a:hover {
  text-decoration: underline;
}

.nav-menu a.active {
  font-weight: bold;
  color: #fff;
}

/* Horizontal Navbar */
.navbar.horizontal {
  flex-direction: row;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar.horizontal .navbar-brand {
  margin-bottom: 0;
  margin-right: 2rem;
}

.navbar.horizontal .nav-menu {
  flex-direction: row;
  align-items: center;
}

.navbar.horizontal .nav-menu ul {
  flex-direction: row;
}

.navbar.horizontal .nav-menu li {
  margin: 0 1rem;
}

.navbar.horizontal .nav-menu a {
  width: auto;
  text-align: center;
}

@media (max-width: 768px) {
  .nav-toggle-label {
    display: block;
  }

  .nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #555;
    padding: 1rem 0;
  }

  .nav-menu ul {
    flex-direction: column;
  }

  .nav-menu li {
    margin: 1rem 0;
  }

  .nav-toggle:checked + .nav-toggle-label + .nav-menu {
    display: flex;
  }

  .navbar.horizontal .nav-menu {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: #555;
    padding: 1rem 0;
    flex-direction: column;
  }

  .navbar.horizontal .nav-menu ul {
    flex-direction: column;
  }

  .navbar.horizontal .nav-menu li {
    margin: 1rem 0;
  }
}
